In [105]:
import pandas as pd #import all necessary files
import matplotlib.pyplot as plt
import seaborn as sns

In [106]:
df = pd.read_csv("data2.csv", encoding="latin1", low_memory=False)
print("success")

success

In [119]:
df.head()

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,invoicedate.1
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/2022 8:26,38250,17850.0,12/1/22
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/2022 8:26,50850,17850.0,12/1/22
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/2022 8:26,41250,17850.0,12/1/22
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/2022 8:26,50850,17850.0,12/1/22
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/2022 8:26,50850,17850.0,12/1/22

In [79]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,Invoice Date,UnitPrice,CustomerID,InvoiceDate.1
1048570,NaN,NaN,NaN,NaN,NaT,0,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaT,0,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaT,0,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaT,0,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaT,0,NaN,NaN

In [137]:
# Check for missing values
print(df.isnull().sum())

invoiceno        506666
stockcode        506666
description      508120
quantity         506666
invoicedate      506666
unitprice             0
customerid       641746
invoicedate.1    506666
Total Revenue    506666
total_revenue    506666
dtype: int64

In [29]:
#shape
df.shape

(1048575, 8)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   InvoiceNo      541909 non-null   object
 1   StockCode      541909 non-null   object
 2   Description    540455 non-null   object
 3   Quantity       541909 non-null   float64
 4   InvoiceDate    541909 non-null   object
 5   UnitPrice      1048575 non-null  int64
 6   CustomerID     406829 non-null   float64
 7   InvoiceDate.1  541909 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 64.0+ MB

In [31]:
print(df.isnull().sum()/df.shape[0]*100)

InvoiceNo        48.319481
StockCode        48.319481
Description      48.458146
Quantity         48.319481
InvoiceDate      48.319481
UnitPrice         0.000000
CustomerID       61.201726
InvoiceDate.1    48.319481
dtype: float64

In [23]:
# Drop duplicates
df.drop_duplicates(inplace=True)
print("success")

success

In [24]:
df.duplicated().sum()

np.int64(0)

In [148]:
print(df.columns)

Index(['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate',
       'unitprice', 'customerid', 'invoicedate.1', 'Total Revenue',
       'total_revenue'],
      dtype='object')

In [149]:
df.columns = df.columns.str.strip()
print("success")

success

In [150]:
print(df.dtypes)

invoiceno         object
stockcode         object
description       object
quantity         float64
invoicedate       object
unitprice          int64
customerid       float64
invoicedate.1     object
Total Revenue    float64
total_revenue    float64
dtype: object

In [121]:
 # Calculate Total Revenue
df['Total Revenue'] = df['quantity'] * df['unitprice']
print("success")

success

In [123]:
print(df[['quantity', 'unitprice']].head())

   quantity  unitprice
0       6.0      38250
1       6.0      50850
2       8.0      41250
3       6.0      50850
4       6.0      50850

In [144]:
# Ensure 'total_revenue' column exists
if 'total_revenue' not in df.columns:
    df['total_revenue'] = df['quantity'] * df['unitprice']
    print("success")

In [146]:
df.rename(columns={"invoicedate	": "invoicedate	"}, inplace=True)
print("success")

success

In [152]:
df['invoicedate.1'] = pd.to_datetime(df['invoicedate.1'], errors='coerce')
print("success")

success

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_8956\3645848518.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['invoicedate.1'] = pd.to_datetime(df['invoicedate.1'], errors='coerce')

In [140]:
# Revenue by date
daily_revenue = df.groupby(df['invoicedate'].dt.date)['Total Revenue'].sum()
daily_revenue.plot(kind='line', title='Daily Revenue', figsize=(10, 6))
plt.ylabel('Revenue')
plt.show()

AttributeError: Can only use .dt accessor with datetimelike values

In [116]:
# Clean and standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
print("success")

success

In [129]:
# Ensure 'total_revenue' column exists
if 'total_revenue' not in df.columns:
    df['total_revenue'] = df['quantity'] * df['unit_price']
    print("success")